<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<link type="text/css" rel="stylesheet" href="../css/base.css" />
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script src="../js/jquery-1.4.2.min.js"></script> 
<script src="../js/m.js"></script> 
</head>

<body>
	<!--顶部开始-->
	<div class="top">
  	<a class="fl" href="../index.htm"><img class="fl" src="../images/home_ico.gif" width="50" height="45" /></a>
    <a class="tit" href="#">景区门票</a>
    <a class="head_search_btn" href="#"><img class="fl" src="../images/m_t_search.png" width="20" height="20" /></a>
  </div>
  <!--顶部结束-->
  
  <div class="m-main">
  	
    <!--酒店首页搜索开始-->
    <div class="search_column">
    	<h3>景区门票查询</h3>
      <div class="sou_box">
      	<span>目的景区：</span>
        <input type="text" name="rz" class="rz_text" />
        <input type="button" name="cx" class="cx_btn" value="查 询" />
      </div>
    </div>
    <!--酒店首页搜索结束-->
    
		<!--推荐标题-->
  	<div class="pdt_title">
    	<strong></strong>
      <h3>推荐景区</h3>
      <strong></strong>
    </div>
    
    <div class="fex">
      <!--list开始-->
      <div class="pdt_list">
        <a href="ticket_list.htm">
          <div class="pdt_img"><img src="../images/pic/01.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">成都温江国色天香(乡)</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="pdt_list">
        <a href="#">
          <div class="pdt_img"><img src="../images/pic/02.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">国色天香（乡）陆地乐园..</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="pdt_list">
        <a href="#">
          <div class="pdt_img"><img src="../images/pic/03.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">成都海昌极地海洋世界</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="pdt_list">
        <a href="#">
          <div class="pdt_img"><img src="../images/pic/04.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">南湖梦幻岛</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="pdt_list">
        <a href="#">
          <div class="pdt_img"><img src="../images/pic/05.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">苏州太湖国家湿地公园</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="pdt_list">
        <a href="#">
          <div class="pdt_img"><img src="../images/pic/06.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">常州中华恐龙园</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="pdt_list">
        <a href="#">
          <div class="pdt_img"><img src="../images/pic/07.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">长隆野生动物世界（爸爸去哪儿电影拍摄地）</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="pdt_list">
        <a href="#">
          <div class="pdt_img"><img src="../images/pic/08.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">广州石门国家森林公园</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="pdt_list">
        <a href="#">
          <div class="pdt_img"><img src="../images/pic/09.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">运河苑温泉度假村</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="pdt_list">
        <a href="#">
          <div class="pdt_img"><img src="../images/pic/10.jpg" width="90" height="64"></div>
          <div class="pdt_txt">
            <div class="pdt_box">
              <p class="p_tit">世界花卉大观园</p>
              <p class="p_pir"><strong>&yen;28524</strong><span>满意度100%</span></p>
            </div>
          </div>
        </a>
      </div>
      <!--list结束-->
    </div>
    
	</div>

  
  <!--回到顶部按钮-->
  <div class="back_top" id="backTop">
  	<span>回到顶部</span>
  </div>
  <!--网页底部-->
  <div class="footer">
  	<p><span class="color_f60">手机版</span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://demo.666trip.com/">电脑版</a></p>   
		<p>思途旅游网&nbsp;&nbsp;蜀ICP备11006958号</p>
  </div>
  
</body>
</html>
