@charset "utf-8";
.account-head {
background-image:url(../imgs/ico_logo.png);
background-repeat:no-repeat;
background-position:50px 38px;
}

.m-main {
width:100%;
display:0;
-webkit-box-orient:vertical;
overflow:hidden;
margin:auto;
}

.header {
background-color:#00ac2f;
color:#fff;
font-size:16px;
font-family:微软雅黑;
position:relative;
text-align:center;
z-index:4;
padding:10px 0;
}

.header img {
width:21px;
position:absolute;
left:10px;
top:14px;
}

.header a {
color:#fff;
}

.header a.m_t_search {
position:absolute;
right:10px;
top:15px;
display:block;
text-indent:-9999px;
width:17px;
height:17px px;
background:url(../imgs/m/m_t_search.png) no-repeat;
background-size:17px 17px;
}

.main {
background-color:#f4f4f4;
-webkit-box-flex:1;
padding:19px 10px;
}

.account_list {
border-top:1px solid #ddd;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
background-color:#fff;
}

.account_list ul li {
color:#606060;
border-bottom:1px solid #ddd;
padding:0 10px;
}

.account_list ul li img {
vertical-align:-2px;
}

.account_list ul li a {
display:block;
overflow:hidden;
background:url(../imgs/href_ico.png) no-repeat right center;
background-size:18px 18px;
font-weight:700;
padding:15px 0;
}

.account_list ul li i {
float:left;
width:18px;
height:18px;
margin-left:40px;
margin-top:3px;
}

.account_list ul li span {
color:#606060;
font-size:16px;
margin-left:13px;
}

.logoout {
border:0;
background-color:#e8260c;
color:#fff;
background:0;
font-weight:700;
font-family:微软雅黑;
font-size:16px;
text-align:center;
width:100%;
margin-top:15px;
-webkit-border-radius:3px;
cursor:pointer;
padding:5px 0;
}

.logoout:active {
background-color:#d41900;
}

.save {
border:0;
background:0;
color:#fff;
font-weight:700;
font-family:微软雅黑;
font-size:16px;
text-align:center;
width:100%;
margin-top:15px;
-webkit-border-radius:3px;
cursor:pointer;
display:block;
padding:5px 0;
}

.get-code {
border:0;
background-color:#01c236;
color:#fff;
font-weight:700;
font-size:16px;
text-align:center;
width:100%;
-webkit-border-radius:3px;
cursor:pointer;
display:block;
padding:5px 0;
}

.load-more {
background:none;
border:0;
color:#333;
font-size:16px;
font-weight:700;
height:60px;
line-height:40px;
text-align:center;
width:100%;
cursor:pointer;
padding:10px;
}

.load_more {
text-align:center;
display:none;
font-size:16px;
font-weight:700;
height:50px;
line-height:50px;
padding:10px;
}

.load_more img {
vertical-align:-14px;
}

.fav-m {
border:1px solid #ddd;
background-color:#fff;
margin-bottom:20px;
}

.fav-t {
border-bottom:1px solid #ddd;
overflow:hidden;
display:0;
padding:15px 10px;
}

.fav-t a {
display:0;
width:100%;
color:#606060;
}

.fav-t-img {
display:block;
width:90px;
height:64px;
}

.fav-t-img img {
display:block;
width:90px;
height:64px;
background:url(../imgs/img_load.png) no-repeat center center;
}

.fav-t-con strong {
padding-left:10px;
display:block;
font-size:14px;
font-weight:700;
}

.fav-t-con strong i {
font-style:normal;
color:red;
}

.fav-t-con a {
font-size:34px;
color:#606060;
line-height:40px;
}

.fav-b {
overflow:hidden;
display:0;
width:100%;
}

.fav-type {
-webkit-box-flex:1;
border-right:1px solid #ddd;
padding:15px 10px;
}

.fav-b span {
display:block;
color:#d0d0d0;
font-weight:700;
font-size:14px;
}

.fav-b strong {
display:block;
color:#606060;
font-weight:700;
font-size:14px;
}

.fav-action {
border-top:1px solid #ddd;
display:0;
}

.fav-action span {
-webkit-box-flex:1;
display:block;
color:#333;
font-size:14px;
font-weight:700;
padding:10px 15px;
}

.fav-action strong {
display:block;
color:red;
font-size:12px;
padding:10px 18px;
}

.order-t {
overflow:hidden;
border-bottom:1px solid #ddd;
}

.order-t a {
display:0;
padding:15px 10px;
}

.order-t strong {
-webkit-box-flex:1;
color:#d0d0d0;
font-size:14px;
font-weight:700;
width:100%;
display:block;
}

.order-t span {
width:120px;
color:#31be00;
font-weight:700;
font-size:14px;
}

span.order-status-1 {
color:#009ae9;
}

span.order-status-2 {
color:#2eb200;
}

.fav-m-l {
background-color:#FFF;
}

.order-l-m {
border:1px solid #ddd;
}

.order-t-l {
overflow:hidden;
display:0;
border:1px solid #F4F4F4;
background-color:#F4F4F4;
padding:10px 0 5px;
}

.order-t-l strong {
-webkit-box-flex:1;
color:#d0d0d0;
font-size:14px;
width:100%;
display:block;
}

.order-l-c {
padding:10px 0;
}

.order-l-c p {
font-size:14px;
font-weight:700;
display:0;
padding:0 17px;
}

.order-l-c p em {
color:#333;
width:60px;
text-align:left;
display:block;
}

.order-l-c p span {
-webkit-box-flex:1;
display:block;
text-align:left;
color:#333;
padding-left:5px;
}

.order-tit {
font-size:16px;
color:#858585;
border-bottom:1px solid #00AC2F;
padding:10px 0;
}

.order-tit-x {
font-size:16px;
color:#858585;
}

.order-m {
border-top:1px solid #ddd;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
background-color:#fff;
position:relative;
}

.order-m ul li {
display:0;
width:100%;
border-bottom:1px solid #ddd;
overflow:hidden;
padding:10px 0;
}

.order-m ul li label {
width:74px;
display:block;
text-align:right;
color:#606060;
font-size:16px;
padding-left:10px;
font-weight:700;
}

.order-m ul li span {
font-size:16px;
display:block;
padding:0 5px 0 10px;
}

.order-m ul li span#adult_num,.order-m ul li span#child_num {
width:86px;
}

.order-m ul li span em {
color:#ddd;
font-size:14px;
display:inline-block;
line-height:24px;
}

.order-m ul li span input.order-txt-s {
width:auto;
border:0;
font-size:14px;
}

.order-m ul li span input.order-txt-n {
font-size:16px;
border:0;
display:inline-block;
width:44px;
}

.textar {
border:0;
font-size:12px;
}

.order-txt {
border:0;
color:#333;
width:100%;
font-size:16px;
margin-top:1px;
}

.txt-ico {
background:url(../imgs/txt_ico.png) no-repeat right bottom;
}

.error {
background:url(../imgs/error.png) no-repeat right bottom;
background-size:19px 19px;
}

.error-tit {
background-color:#ff4a4a;
width:100%;
color:#fff;
text-indent:24px;
position:absolute;
top:98px;
left:0;
font-size:12px;
padding:10px 0;
}

.order-l-t {
border-top:1px solid #ddd;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
background-color:#fff;
margin-bottom:20px;
}

.order-l-t p {
border-bottom:1px solid #ddd;
color:#404040;
font-size:12px;
padding:10px 25px;
}

.order-l-t p span {
color:#606060;
}

.order-l-p {
border-bottom:1px solid #ddd;
font-size:16px;
padding:10px;
}

.order-t-t {
font-size:16px;
padding:10px;
}

.price {
font-size:16px;
margin-top:10px;
padding-left:10px;
}

.mb10px {
margin-bottom:10px;
}

.line-w {
padding:16px;
}

.line-tit {
font-size:16px;
font-weight:700;
color:#333;
background-color:#fff;
padding:10px 15px;
}

.line-img p {
display:0;
width:100%;
margin-top:5px;
}

.line-img p span.share {
display:block;
color:#4da631;
font-size:12px;
background:url(../imgs/share.png) no-repeat left center;
border-right:1px solid #ddd;
padding-left:24px;
padding-right:10px;
background-size:18px 14px;
}

.line-img p span.book {
display:block;
color:#4da631;
font-size:12px;
background:url(../imgs/book.png) no-repeat left center;
background-size:14px 14px;
padding-left:20px;
margin-left:5px;
}

.line-impro {
-webkit-box-flex:1;
padding-left:10px;
}

.line-impro p span {
font-size:14px;
color:#888;
width:52px;
}

.line-info {
width:100%;
border-top:1px solid #fff;
}

.line-i-w {
background-color:#f4f4f4;
display:0;
border-bottom:1px solid #e3e3e3;
padding:10px 20px;
}

.line-i-w img.roat {
-webkit-transition:all 1s ease;
}

.line-i-w img.on {
-webkit-transform:rotate(180deg);
}

.line-i-w span {
-webkit-box-flex:1;
color:#333;
font-size:16px;
display:block;
font-weight:700;
}

.line-i-w span img {
vertical-align:-5px;
margin-right:4px;
}

.line-i-c-h {
font-size:14px;
padding:10px 0;
}

.line-i-c {
background-color:#fff;
color:#333;
font-size:12px;
overflow:hidden;
height:0;
-webkit-transition:height 1000ms ease;
padding:0 16px;
}

.line-i-c h3 {
border-bottom:1px solid #00AC2F;
color:#333;
font-size:14px;
padding:10px 0 5px;
}

.line-i-con {
line-height:22px;
padding:5px 10px 10px;
}

.line-f {
position:fixed;
bottom:0;
left:0;
width:100%;
display:0;
background-image:0;
text-align:right;
padding:8px 0;
}

.line-f a.tel {
-webkit-box-flex:1;
display:block;
color:#fff;
font-size:16px;
border-radius:3px;
padding-left:5px;
padding-right:5px;
background-image:0;
text-align:center;
margin:0 5px 0 10px;
}

.line-f a.line-e {
-webkit-box-flex:1;
display:block;
color:#fff;
font-size:16px;
border-radius:3px;
text-align:center;
background:none;
margin:0 10px 0 0;
}

.line-f a.online-book {
-webkit-box-flex:0;
width:130px;
background-image:0;
margin:0 10px 0 0;
}

.line-f a {
-webkit-box-flex:1;
display:block;
color:#fff;
font-size:16px;
border-radius:3px;
background-color:#ff8400;
text-align:center;
margin:0 10px;
padding:5px 0;
}

.login-reg {
margin-top:10px;
width:100%;
display:0;
padding:10px 0;
}

.login-reg a.tel {
-webkit-box-flex:1;
display:block;
color:#fff;
font-size:16px;
border-radius:3px;
background:url(../imgs/phone_ico.png) no-repeat 1px 3px #00ac2f;
text-align:center;
background-size:16px 16px;
margin:0 20px;
}

.login-reg a.forget-pwd {
background-color:#ddd;
color:#333;
}

.login-reg a.forget-pwd:active {
background-color:#cecece;
}

.login-reg a {
-webkit-box-flex:1;
display:block;
color:#fff;
font-size:16px;
border-radius:3px;
background-color:#ff8400;
text-align:center;
padding:5px 0;
}

.login-reg a.reg:active {
background-color:#ef5400;
}

.login-reg a.reg {
margin-right:10px;
}

.main-xl {
background-color:#fff;
}

.posfex {
height:45px;
display:0;
position:relative;
z-index:4;
}

.change-type ul {
display:0;
width:100%;
-webkit-box-shadow:1px 1px 1px #999 inset;
background-image:0 );
overflow:hidden;
z-index:4;
}

.change-type ul li {
-webkit-box-flex:1;
border-right:1px solid #c7c7c7;
border-bottom:1px solid #c7c7c7;
display:block;
padding:0 5px;
}

.change-type ul li.on {
background:#fff;
-webkit-box-shadow:0 1px 1px #999 inset;
border-bottom:1px solid #fff;
}

.change-type ul li s {
float:right;
height:19px;
width:30px;
background:url(../imgs/line_ico_ud.png) no-repeat 0 0;
margin-top:13px;
}

.change-type-c {
position:absolute;
left:0;
height:0;
overflow:hidden;
background-color:#fff;
z-index:3;
-webkit-transition:height 300ms ease;
width:100%;
}

.des-on {
height:200px;
}

.change-type-c p {
font-size:16px;
color:#333;
font-weight:700;
border-bottom:1px solid #ccc;
padding:0 10px;
}

.change-type-c p a {
color:#333;
display:block;
padding:15px 0;
}

.change-type-c p.on a {
background:url(../imgs/chang_on.png) no-repeat right center;
background-size:11px 10px;
}

.gn-list {
display:0;
border-bottom:1px solid #ddd;
}

.gn-list a {
display:0;
width:100%;
}

.gn-img {
display:block;
width:90px;
height:64px;
background-color:#FFF;
-webkit-box-shadow:0 1px 2px 1px #ccc;
margin:10px 0 10px 10px;
padding:5px;
}

.gn-img img {
display:block;
background:url(../imgs/img_load.png) no-repeat center center;
width:90px;
height:64px;
}

.gn-c {
-webkit-box-flex:1;
margin:10px 0;
padding:0 10px;
}

.gn-c p {
color:#333;
font-size:14px;
display:0;
font-weight:700;
}

.gn-c p span {
color:#888;
-webkit-box-flex:1;
margin-top:6px;
display:block;
}

.gn-c p em.co-1 {
color:#fb5412;
}

.gn-c p span em.c-1 {
color:#fff;
background-color:#9fdb37;
border-radius:3px;
border:1px solid #9fdb37;
font-size:12px;
padding:0 2px;
}

.gn-c p span em.c-2 {
color:#fff;
background-color:#f1bc67;
border-radius:3px;
border:1px solid #f1bc67;
font-size:12px;
padding:0 3px;
}

.gn-c p span em.c-3 {
color:#fff;
background-color:#6bd3df;
border-radius:3px;
border:1px solid #6bd3df;
font-size:12px;
padding:0 3px;
}

.gn-c p span em.c-4 {
color:#fff;
background-color:#9ea4f6;
border-radius:3px;
border:1px solid #9ea4f6;
font-size:12px;
padding:0 3px;
}

.gn-c p span em.c-5 {
color:#fff;
background-color:#7ad06f;
border-radius:3px;
border:1px solid #7ad06f;
font-size:12px;
padding:0 3px;
}

.gn-c p strong {
-webkit-box-flex:1;
display:block;
text-align:right;
font-size:20px;
color:#fb4801;
margin-top:4px;
}

.main-bd {
background:url(../imgs/des_bg.png) repeat;
padding-bottom:40px;
}

.des-t {
height:38px;
padding:6px 0;
}

.des-list {
padding-right:5px;
}

.des-list ul li {
display:0;
margin-bottom:13px;
}

.des-list ul li a {
-webkit-box-flex:1;
background-color:#fff;
display:block;
-webkit-box-shadow:1px 1px 4px 0 #666;
margin:0 0 0 5px;
padding:5px 0;
}

.des-list ul li a img {
display:block;
width:90px;
height:54px;
background:url(../imgs/img_load.png) no-repeat center center;
margin:0 auto;
}

.des-list ul li a strong {
display:block;
width:90px;
font-size:14px;
color:#333;
text-align:center;
margin:0 auto;
}

.des-more {
background-color:#fff;
-webkit-box-shadow:1px 1px 4px 0 #666;
margin:0 5px;
padding:0 10px;
}

.des-more a {
background:url(../imgs/href_ico.png) no-repeat right center #fff;
background-size:18px 18px;
color:#404040;
font-size:16px;
display:block;
font-weight:700;
padding:10px 0;
}

.des-more a img {
margin-right:5px;
}

.find-pwd {
font-size:24px;
color:#333;
padding-left:10px;
}

.main-lxs {
background-color:#f4f4f4;
}

.lxs-t {
background-color:#fff;
padding:15px 17px;
}

.lxs-t-p1 {
color:#333;
font-size:18px;
font-weight:700;
}

.lxs-t-p2 {
margin-top:5px;
color:#ff8400;
font-size:14px;
padding-left:20px;
background:url(../imgs/lxs_ico.png) no-repeat left center;
background-size:14px 14px;
}

.lxs-m h3 {
border-bottom:1px solid #00ac2f;
color:#333;
font-size:14px;
padding:5px 0;
}

.lxs-m-c {
padding:10px 10px 0;
}

.line-i-con p em.c-x {
color:#ff2a2a;
}

.line-i-con p em.c-v {
color:#00ac2f;
}

.search-reus {
background-color:#e8db93;
color:#404040;
font-size:12px;
padding:5px;
}

.more-des-m {
font-weight:700;
}

.more-des-m p {
background-color:#cecece;
color:#606060;
font-size:14px;
padding:10px 20px;
}

.more-des-m a {
display:block;
font-size:14px;
color:#333;
border-bottom:1px solid #ddd;
padding:15px;
}

.result-error {
text-align:center;
font-size:16px;
color:red;
padding:10px;
}

.pop_bg {
background-color:#000;
opacity:0.5;
width:100%;
height:1000px;
position:absolute;
left:0;
top:0;
z-index:2;
display:none;
}

.pb66px {
padding-bottom:50px;
}

.order-m ul li.plr10px {
width:auto;
padding:10px;
}

.line-tit em {
font-size:12px;
border-radius:3px;
margin-right:3px;
padding:0 3px;
}

.line-tit em.c-1 {
color:#fff;
background-color:#9fdb37;
border:1px solid #9fdb37;
}

.line-tit em.c-2 {
color:#fff;
background-color:#f1bc67;
border:1px solid #f1bc67;
}

.line-tit em.c-3 {
color:#fff;
background-color:#6bd3df;
border:1px solid #6bd3df;
}

.line-tit em.c-4 {
color:#fff;
background-color:#9ea4f6;
border:1px solid #9ea4f6;
}

.line-tit em.c-5 {
color:#fff;
background-color:#7ad06f;
border:1px solid #7ad06f;
}

.line-img {
position:relative;
}

.share_ico {
position:absolute;
right:0;
top:0;
background:url(../imgs/share_ico.png) no-repeat 0 0;
background-size:32px 110px;
width:32px;
height:110px;
}

.line-img span.line-s-m {
display:block;
width:270px;
height:180px;
background-color:#fff;
-webkit-box-shadow:0 1px 10px 0 #D1D1D1;
margin:0 auto;
padding:5px;
}

.line-img span img {
display:block;
width:270px;
height:180px;
background:url(../imgs/img_load.png) no-repeat center center #eee;
}

.price-line p s {
margin-left:15px;
color:#888;
}

.price-line p span {
font-size:14px;
color:#888;
width:74px;
}

.price-line p strong {
color:#FF6C00;
font-size:22px;
}

.order-error {
font-size:14px;
font-weight:700;
}

.back_price a {
font-size:16px;
font-weight:700;
color:#333;
}

.p10px {
display:0;
width:100%;
padding:10px;
}

.order-result-success {
font-size:16px;
color:#333;
}

.order-result-success h3 {
color:#297c00;
}

.order-result-error {
font-size:16px;
color:#ff3000;
}

.no-disable {
background-color:#ddd;
border:0;
color:#fff;
font-weight:700;
font-size:16px;
text-align:center;
width:100%;
-webkit-border-radius:3px;
cursor:pointer;
display:block;
padding:5px 0;
}

.m_index_t {
background-image:0 color-stop(1,rgb(242,242,242)));
height:24px;
position:relative;
z-index:4;
padding:5px 10px;
}

.m_moile_dowm {
float:left;
background-color:#fcf5b7;
border:1px solid #e1c81c;
-webkit-border-radius:5px;
padding:2px 5px;
}

.m_log {
float:right;
margin-top:4px;
}

.m_banner {
background-image:0 );
height:18px;
position:relative;
padding:10px;
}

.m_banner .m_logo img {
vertical-align:middle;
}

.m_banner .m_go {
position:absolute;
right:10px;
top:9px;
height:20px;
background-image:0;
border:solid 1px #007b21;
-webkit-border-radius:5px;
}

.m_banner .m_go a {
display:inline-block;
padding-right:20px;
padding-left:8px;
height:18px;
line-height:22px;
color:#196e30;
}

.m_banner .m_go a:active {
background-color:#dff0d7;
-webkit-border-radius:5px;
}

.m_banner .m_go i {
position:absolute;
right:10px;
top:9px;
display:inline-block;
height:4px;
width:5px;
background:url(../imgs/m/m_go_ico.png) no-repeat;
background-size:5px 4px;
}

.m_search {
background-image:0 );
height:22px;
display:0;
padding:10px;
}

.m_search_l {
width:60px;
margin-right:10px;
position:relative;
background-image:0 );
border:solid 1px #c6c6c6;
-webkit-border-radius:5px;
height:22px;
line-height:22px;
}

.m_search_select {
position:absolute;
top:23px;
left:-1px;
border-left:1px solid #c6c6c6;
border-right:1px solid #c6c6c6;
border-bottom:1px solid #c6c6c6;
background-color:#fff;
width:60px;
display:none;
z-index:10;
padding:5px 0;
}

.m_search_on .m_search_select {
display:block;
}

.m_search_select a {
color:#333;
display:block;
height:22px;
line-height:22px;
padding-left:8px;
}

.m_search_l a.m_s_name {
display:inline-block;
position:absolute;
top:0;
padding-left:8px;
line-height:22px;
color:#333;
height:24px;
width:52px;
}

.m_search_l i {
position:absolute;
right:10px;
top:9px;
display:inline-block;
height:4px;
width:5px;
background:url(../imgs/m/m_search_l_ico.png) no-repeat;
background-size:5px 4px;
}

.m_search_m input.m_s_txt {
border:solid 1px #c6c6c6;
-webkit-border-radius:75px;
height:22px;
line-height:22px;
width:100%;
text-indent:12px;
}

.m_search_r {
width:29px;
height:22px;
margin-left:10px;
}

.m_search_r input {
border:0;
width:30px;
height:22px;
background:url(../imgs/m/search_ico.png) no-repeat;
background-size:29px 22px;
}

.m_sloder {
height:130px;
position:relative;
overflow:hidden;
width:100%;
}

.m_sloder ul {
position:absolute;
left:0;
top:0;
width:100%;
}

.m_sloder ul li {
float:left;
width:100%;
position:absolute;
left:0;
top:0;
height:130px;
-webkit-opacity:0;
-webkit-transition:opacity 1000ms ease-in-out;
display:none;
}

.m_sloder ul li img {
display:block;
height:130px;
}

.m_sloder_bg {
position:absolute;
bottom:0;
left:0;
background-color:#000;
-webkit-opacity:0.4;
width:100%;
height:22px;
}

.m_sloder_b {
position:absolute;
left:0;
bottom:0;
display:0;
width:100%;
}

.m_sloder_num {
color:#fff;
margin:0 10px;
}

.m_sloder_num a {
display:inline-block;
background-color:#b3b3b3;
-webkit-border-radius:5px;
height:8px;
width:8px;
text-indent:-9999px;
-webkit-opacity:0.5;
margin-right:4px;
}

.m_sloder_num a.on {
background-color:#fff;
-webkit-opacity:1;
}

.m_sloder_tit {
-webkit-box-flex:1;
color:#fff;
text-align:right;
width:100%;
height:20px;
line-height:20px;
overflow:hidden;
}

.m_con_ico {
background-color:#f4f4f4;
padding:5px 0;
}

.m_con_ico a {
display:block;
-webkit-box-flex:3;
text-align:center;
width:33%;
color:#111;
font-weight:700;
border:1px solid #f4f4f4;
font-size:14px;
padding:8px 0;
}

.m_con_ico a:active {
background-color:#dff0d7;
border:1px solid #d0e0c9;
-webkit-border-radius:6px;
}

.m_con_ico a img {
display:block;
width:50px;
height:50px;
margin:auto;
}

.m_foot {
background-color:#f4f4f4;
border-top:1px solid #d5d5d5;
padding-bottom:15px;
}

.m_foot p {
text-align:center;
margin-top:15px;
color:#666;
}

.m_foot p a {
color:#417f00;
font-weight:700;
font-size:14px;
margin-right:10px;
}

.m_foot_down_top {
background-color:#fff;
border-top:1px solid #d5d5d5;
display:0;
margin-top:-1px;
}

.m_foot_down {
-webkit-box-flex:1;
border-right:1px solid #d5d5d5;
text-align:center;
display:block;
padding:15px 15px 12px;
}

.m_foot_top {
-webkit-box-flex:1;
text-align:center;
display:block;
padding:15px 15px 12px;
}

.topfix {
position:fixed;
left:0;
top:0;
}

.m-line-tit {
color:#333;
font-weight:700;
font-size:16px;
border-bottom:1px solid #d3d3d3;
margin-bottom:15px;
padding:15px;
}

.m_list_gl ul li {
border-bottom:1px solid #ddd;
}

.m_list_gl ul li a {
display:block;
font-size:16px;
color:#333;
font-weight:700;
padding:10px;
}

.m_list_gl ul.word_no li {
padding:5px 0;
}

.m_list_gl ul.word_no li a {
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;
max-width:100%;
padding:10px;
}

.m_list_gl_more a {
display:block;
color:#297201;
font-weight:700;
font-size:16px;
text-align:right;
padding:10px;
}

.m_gl_tit {
border-bottom:1px solid #ddd;
padding:15px;
}

.m_gl_tit h1 {
color:#333;
font-size:22px;
font-weight:700;
text-align:left;
}

.m_gl_tit p {
color:#666;
font-weight:700;
font-size:14px;
}

.m_gl_tit p a {
color:#666;
}

.m_gl_con {
color:#333;
line-height:26px;
padding:15px 10px;
}

.m_gl_con img {
width:100%;
height:auto;
}

.m_jd_list {
padding:10px 0 15px;
}

.m_jd_list ul {
padding-right:15px;
}

.m_jd_list ul li {
display:0;
margin-top:10px;
}

.m_jd_list ul li a {
-webkit-box-flex:3;
background-color:#FFF;
display:block;
margin:0 0 0 10px;
}

.m_jd_list ul li a img {
display:block;
width:80px;
height:44px;
background:url(../imgs/img_load.png) no-repeat center center;
-webkit-box-shadow:0 1px 2px 0 #666;
background-color:#FFF;
margin:0 auto;
padding:5px;
}

.m_jd_list ul li a strong {
display:block;
max-width:90px;
font-size:16px;
color:#333;
text-align:center;
padding-top:3px;
height:27px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
margin:0 auto;
}

.m_jd_more {
border-top:1px solid #ddd;
}

.m_zhuti {
background-color:#f4f4f4;
padding:1px 10px 20px;
}

.m_zhuti a {
display:block;
color:#404040;
font-size:14px;
margin:20px auto 0;
}

.m_zhuti a img {
display:block;
width:100%;
height:auto;
}

.m_zhuti a p {
color:#b5b5b5;
background-color:#fff;
-webkit-box-shadow:0 1px 4px 0 #666;
max-width:100%;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
padding:10px 0;
}

.m_zhuti a p strong {
margin-right:10px;
color:#404040;
font-size:16px;
padding-left:10px;
}

.more_des_warp {
padding-bottom:20px;
}

.m_more_des {
display:0;
border-bottom:1px solid #ececec;
width:100%;
}

.m_4th p {
background-color:#f1f1f1;
}

.m_4th .m_more_des span {
-webkit-box-flex:4;
display:block;
width:25%;
}

.m_4th .m_more_des span a {
border-bottom:0;
display:block;
font-size:12px;
color:#333;
text-align:center;
border-right:1px solid #ececec;
padding:15px 10px;
}

.m_jianyi textarea {
border:1px solid #ddd;
display:block;
-webkit-box-flex:1;
padding-top:5px;
height:100px;
width:100%;
font-weight:700;
}

.m_jianyi input {
border:1px solid #ddd;
width:100%;
margin-top:10px;
-webkit-box-flex:1;
font-weight:700;
padding:5px 0;
}

.m_gl_list p {
border-bottom:1px solid #DDD;
padding:0 10px;
}

.m_gl_list a {
overflow:hidden;
color:#333;
font-size:16px;
font-weight:700;
display:block;
max-width:100%;
text-overflow:ellipsis;
white-space:nowrap;
padding:10px 0;
}

.change-type ul#des_w_m li.on {
background:#FFF;
-webkit-box-shadow:0 1px 1px #999 inset;
border-bottom:1px solid #FFF;
}

.change-type ul#des_w_m li a {
display:block;
overflow:hidden;
color:#333;
font-size:16px;
word-spacing:normal;
background:none;
background-size:10px 7px;
font-weight:700;
line-height:45px;
}

.about_cncn {
background-color:#f4f4f4;
font-weight:700;
font-size:14px;
padding:20px 20px 200px;
}

.logo_about {
border-bottom:2px solid #00AC2F;
padding-bottom:5px;
}

.about_cncn h3 {
color:#888;
padding:8px 0 5px;
}

.about_cncn p {
color:#333;
line-height:20px;
}

.app_download p.download_img {
padding-top:5px;
}

a.download_app {
display:block;
width:125px;
height:44px;
text-indent:-9999px;
background:url(../imgs/m/download_app.png) no-repeat 0 0;
background-size:125px 44px;
margin:5px auto;
}

.download_con {
border-top:1px solid #ddd;
margin-top:10px;
padding:0 10px 20px;
}

.download_con ul li p.dc_cont {
color:#666;
font-size:14px;
font-weight:700;
margin-top:10px;
}

.download_con ul li p strong {
color:#ff8400;
font-weight:700;
font-size:18px;
}

.download_con ul li p img {
margin-right:5px;
margin-left:5px;
vertical-align:bottom;
}

.down_topbor {
border-top:1px solid #ddd;
padding:5px 0 10px;
}

#m_des_cont_other .m_jd_list {
padding-top:0;
}

.jd_city_m {
color:#606060;
font-size:14px;
background-color:#F1F1F1;
font-weight:700;
padding:10px 20px;
}

.line-i-c-h .m_jd_show_pic a {
display:block;
width:33%;
height:40px;
-webkit-box-flex:3;
overflow:hidden;
background-color:#fff;
border:1px solid #ddd;
margin-right:10px;
margin-bottom:10px;
}

.line-i-c-h .m_jd_show_pic a img {
display:block;
width:100%;
height:40px;
margin:0 auto;
}

.line-i-c-h ul.m_jd_show_a li a {
overflow:hidden;
color:#333;
font-weight:700;
display:block;
max-width:100%;
text-overflow:ellipsis;
white-space:nowrap;
border-bottom:1px solid #ddd;
padding:10px 0;
}

.nav_down_layer {
background:url(../imgs/m/nav_down_layer.png) repeat-x;
height:39px;
width:100%;
display:0;
}

.nav_down_layer a {
-webkit-box-flex:1;
display:block;
text-align:center;
background:url(../imgs/m/nav_a_dowm.png) repeat-x;
height:41px;
}

.nav_down_layer a img {
margin-top:6px;
}

.nav_down_layer a.on {
background:url(../imgs/m/down_a_on.png) no-repeat center bottom;
background-size:15px 8px;
}

.layer_m_download {
background:url(../imgs/m/layer_m_download.png) repeat;
}

.android_layer p.android_l_1 {
background:url(../imgs/m/iphone_l_1.png) no-repeat;
width:77px;
height:77px;
background-size:77px 77px;
padding-top:1px;
margin:31px auto 0;
}

.android_layer p a {
display:block;
width:113px;
height:39px;
margin-left:1px;
}

.bg_layer_down {
background:url(../imgs/m/bg_layer_down.png) repeat-x bottom center;
width:100%;
height:43px;
}

.iphone_layer p.iphone_l_1 {
background:url(../imgs/m/iphone_l_1.png) no-repeat;
width:77px;
height:77px;
background-size:77px 77px;
margin:31px auto 0;
}

.iphone_a {
float:left;
width:113px;
height:39px;
margin-top:1px;
margin-left:4px;
}

.android_a {
float:left;
width:113px;
height:39px;
margin-top:1px;
margin-left:10px;
}

.iphone_layer p.iphone_l_2 {
background:url(../imgs/m/iphone_l_2.png) no-repeat;
width:111px;
height:49px;
background-size:111px 49px;
margin:5px auto 0;
}

.iphone_layer p.iphone_l_3 {
background:url(../imgs/m/iphone_l_3.png) no-repeat;
width:133px;
height:14px;
background-size:133px 14px;
margin:14px auto 0;
}

.iphone_layer p.iphone_l_4 {
background:url(../imgs/m/iphone_l_4.png) no-repeat;
width:240px;
height:43px;
background-size:240px 43px;
margin:10px auto 0;
}

.android_layer p.android_l_2 {
background:url(../imgs/m/android_l_2.png) no-repeat;
width:110px;
height:48px;
background-size:110px 48px;
padding-top:1px;
margin:5px auto 0;
}

p.android_l_3 {
background:url(../imgs/m/iphone_l_3.png) no-repeat;
width:133px;
height:14px;
background-size:133px 14px;
padding-top:1px;
margin:12px auto 0;
}

.android_layer p.android_l_4 {
background:url(../imgs/m/android_l_4.png) no-repeat;
width:116px;
height:40px;
background-size:116px 40px;
padding-top:1px;
margin:10px auto 0;
}

.foot_download {
background-color:#f1f1f1;
padding:16px 0;
}

.foot_download p {
background:url(../imgs/m/foot_download.png) no-repeat;
width:285px;
height:40px;
background-size:285px 40px;
margin:0 auto;
}

.iphone_foot {
float:left;
width:134px;
height:40px;
margin-left:2px;
}

.androip_foot {
float:left;
width:134px;
height:40px;
margin-left:7px;
}

.foot_new_nav {
background-color:#fff;
border-top:1px solid #ddd;
border-bottom:1px solid #dddd;
padding:12px 10px;
}

.foot_new_nav p {
float:left;
color:#333;
}

.foot_top {
float:right;
margin-top:5px;
background:url(../imgs/m/foot_top.png) no-repeat;
width:25px;
height:8px;
background-size:25px 8px;
cursor:pointer;
}

.fd_font {
font-size:14px;
color:#333;
font-family:微软雅黑;
width:285px;
padding-bottom:10px;
margin:0 auto;
}

a:active,.account_list ul li:active,.load-more:active,.fav-t:active,.order-t a:active,.change-type-c p:active,.change-type-c p a:active,.des-more:active,.des-more a:active,.more-des-m a:active,.m_search_select a:active,.m_list_gl ul.word_no li:active,.m_gl_list p:active {
background-color:#dff0d7;
}

.header a:active,.share_ico a.share_a:active,.share_ico a.book_a:active,.m_index_t a:active,.m_foot_down a:active,.m_foot_top a:active,.change-type ul#m_des_w li a,.change-type ul#m_des_w_other li a,.change-type ul#des_w_m li.on a,.android_layer p a:active,.iphone_a:active,.android_a:active,.foot_download p a:active {
background:none;
}

.save:active,.get-code:active {
background-color:#00982a;
}

.fav-error,.lxs-m,.price-line {
padding:10px 15px;
}

.fav-t-con,.main-line,.gn-c-bg,.m_search_m {
-webkit-box-flex:1;
}

.fav-b .line-none,.change-type ul li.no-line {
border-right:0;
}

.fav-action span em,.order-l-c p em.e-f,.line-i-con p em,.lxs-m-c p em {
color:#888;
}

.order-t strong em,.order-t-l strong em {
font-size:14px;
color:#606060;
padding-left:5px;
}

.order-t-l span,.order-m ul li span select,.gn-c p em {
font-size:14px;
}

.order-t span.no-do,span.order-status-0 {
color:#ff8400;
}

span.order-status-3,span.order-status-4 {
color:#bdbdbd;
}

.order-l-p p span em,.price em {
color:#fd9a31;
}

.line-cont,.m_con_ico p,.line-i-c-h .m_jd_show_pic {
display:0;
}

.line-impro p,.price-line p {
color:#333;
font-size:14px;
display:0;
}

.line-impro p i,.price-line p i {
font-style:normal;
-webkit-box-flex:1;
display:block;
}

.line-impro p strong,.line-impro p em {
color:#ff6c00;
font-size:12px;
}

.line-i-con p,.lxs-m-c p,.foot_new_nav p a {
font-size:14px;
color:#333;
}

.line-f a.tel img,.m_index_t img {
vertical-align:-2px;
margin-right:3px;
}

.change-type ul li a,.change-type ul#des_w_m li#des-by a {
display:block;
overflow:hidden;
color:#333;
font-size:16px;
word-spacing:normal;
background:url(../imgs/s-down.png) no-repeat right center;
background-size:10px 7px;
font-weight:700;
line-height:45px;
}

.change-type ul li.on a,.change-type ul#des_w_m li#des-by.on a {
background:url(../imgs/s_up.png) no-repeat right center;
background-size:10px 7px;
}

.change-type ul li a.strong,.gn-c p a,.m_index_t a {
color:#333;
}

.share_ico a.share_a,.share_ico a.book_a {
display:block;
width:32px;
height:55px;
}

.back_price,.download_con ul li {
margin-top:20px;
}

.m_moile_left,.m_banner .m_logo {
float:left;
}

.m_s_show_3 ul li.m_s_li_3,.m_s_show_0 ul li.m_s_li_0,.m_s_show_2 ul li.m_s_li_2,.m_s_show_1 ul li.m_s_li_1 {
display:block;
-webkit-opacity:1;
}

.m_p10px,.m_jianyi {
padding:10px;
}

.change-type ul#m_des_w li,.change-type ul#m_des_w_other li {
text-align:center;
padding:0;
}

.change-type ul#m_des_w li.on,.change-type ul#m_des_w_other li.on {
background:#f7f7f7;
-webkit-box-shadow:none;
border-bottom:1px solid #C7C7C7;
}

.change-type ul#m_des_w,.change-type ul#m_des_w_other {
-webkit-box-shadow:none;
}

.android_layer,.iphone_layer {
padding:1px 0 20px;
}